# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de entorno virtual
venv/
env/
.venv/
.env/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de datos
data/
test/
build/